global
    maxconn 8192
    log stdout format raw local0 warning

defaults
    log global
    mode tcp
    timeout connect 2s
    timeout client  5s
    timeout server  5s
    option tcp-smart-accept
    option tcp-smart-connect
    option dontlog-normal

frontend rinha
    bind *:9999
    default_backend api

backend api
    balance roundrobin
    option tcp-check
    server api1 /run/sock/api1.sock check inter 5s
    server api2 /run/sock/api2.sock check inter 5s
